@charset "UTF-8";

/* Aqui eu aprendi alguns conceitos bem funcionais sobre importação de fontes locais(na minha maquina) e fontes do google fontes entre outros */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family: 'android';
  src: url('/fontes/idroid.otf') format('opentype');
  font-weidth: normal;
}

/* Esse conceito de criar algumas variaveis pra cor e fonte foi um aprendizado muito agregador, conseguir distingir cores e fontes por um code nome(variavel) que eu definir ajuda muito */
:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;
  
  --font-padrao: Arial, Verdana, Helvetica, Sans-Serif;
  --font-destaque: 'Bebas Neue', cursive;
  --font-android: 'android', cursive;
}

/* Comei fazendo as configurações padrão retirando margens e preenchimentos ja definidos, pra ter controle do meu próprio projeto */
* {
  margin: 0px;
  padding: 0px;
}

/* Cor de fundo e fonte */
body {
  background-color: var(--cor0);
  font-family: var(--font-padrao);
}

/* Aqui teve uma coisa interessante que aprendi sobre emoji pra utilizar e também sub elementos pra definir coisas que podem acontecer antes ou depois etc.. e tambem organizar o projeto com ids */
a.externo::after {
  content: '\00a0\1f517';
}

/* Conceito bem útil sobre gradiente e espaçamento */
header {
  background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
}

/* Fonte, tamanho, cor, margem e sombreamento do h1 na parte do topo da pagina */
header > h1 {
  font-family: var(--font-destaque);
  font-weight: normal;
  font-size: 3em;
  color: white;
  margin-bottom: 20px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.267);
}

/* Primeiro parágrafo da página fica embaixo do titulo da mesma */
header > p {
  font-family: var(--font-padrao);
  font-size: 1.2em;
  max-width: 500px;
  margin: auto;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.267);
}

/* Barra de navegação da pagina */
nav {
  background-color: var(--cor5);
  padding: 10px;
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.363);
}

/* links que irão direcionar pra parte escolhida estando na barra de navegação */
nav a {
  color: var(--cor1);
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  transition-duration: 0.5s;
}

/* parte de interação com o mouse onde quando o usuário passa a seta por cima acontece o efeito de mudar de cor a letra e o fundo */
nav a:hover {
  background-color: var(--cor3);
  color: var(--cor5);
  
}

/* Configuração do main (conteudo da pagina), como background espaçamento margem preenchimento e sombreamento*/
main {
  background-color: white;
  min-width: 400px;
  max-width: 900px;
  padding: 20px;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px black;
  border-radius: 0px 0px 10px 10px;
}

/* Parágrafos relacionados ao main com configurações de margem texto e organização da fonte */
main p {
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  font-size: 1em;
  line-height: 2em;
}

/* Relacionados aos strongs(textos mais fortes ou simplesmente negritos */
main strong {
  color: var(--cor4);
  font-weight: bolder;
  padding: 2px 6px;
}

/* Links que estão dentro do conteudo da main(parte principal da pagina */
main a {
  text-decoration: none;
  color: var(--cor5);
  background-color: var(--cor1);
  font-weight: bold;
  padding: 2px 6px;
}

/* Interação dos links da main com o mouse */
main a:hover {
  text-decoration: underline;
  color: var(--cor4);
}

/* largura das imagens em relação a viewport */
main img {
  width: 100%;
}

/* h1 da main, fonte, e cor */
main h1 {
  font-family: var(--font-android);
  font-weight: normal;
  font-size: 1.6em;
  color: var(--cor5);
}

/* h2 da main fonte, cor, background, texto */
main h2 {
  font-family: var(--font-android);
  font-weight: normal;
  color: var(--cor4);
  font-size: 1.3em;
  background-image: linear-gradient(to right, var(--cor1), transparent);
  text-indent: 8px;
}

/* configuração do vídeo alocado ou importado */
div.video {
  background-color: var(--cor5);
  margin: 0px -20px 30px -20px;
  position: relative;
  padding-bottom: 58%;
}

div iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

/* configuração da imagem pequena usada na pagina */
main img.pequena {
  max-width: 350px;
  display: block;
  margin: auto;
}

/* bloco usado pra conter a lista e as informações dela */
aside {
  background-color: var(--cor1);
  padding: 10px;
  border-radius: 10px;
}

/* configuração do h3, presente na lista background, color preenchimento, margem e borda */
aside h3 {
  background-color: var(--cor4);
  color: white;
  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}

/* Configuração da lista dentro da aside aqui que eu aprendi o conceito de dividir a lista em partes */
aside > ul {
  list-style-position: inside;
  list-style-type: '\2714\00a0\00a0';
  columns: 2;
}

/* mudança da cor do background do link pra não ficar igual ao do aside */
aside a {
  background-color: var(--cor2);
}

/* também mudança pra diferenciar do aside */
aside strong {
  color: black;
}

/* parte do footer onde informa cor de background, cor do texto, centralização e um preenchimento */
footer {
  background-color: var(--cor5);
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
}

/* links contidos no footer : cor fonte e decoração do texto */
footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* Interação dos links do footer ao passar do mouse */
footer a:hover {
  text-decoration: underline;
  color: var(--cor1);
}