@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
  --font1: Arial, Verdana, Helvetica, sans-serif;
  --font2: 'Quicksand', sans-serif;
  --font3: 'Poiret One', cursive;
  
  --cor1: #FFFAFF; /* Cinza bem clarinho */
  --cor2: #8AF3FF; /* azul clarinho */
  --cor3: #84E6F8; /* Azul Medio */
  --cor4: #020887; /* Azul escuro */
}

body {
  font-family: var(--font1);
  width: 100vw;
  height: 100vh;
}

.container #menu{
  display: none;
}

.escopo {
  background: url('../imagens/vista.jpeg') no-repeat;
  background-size: cover;
  width: 100vw;
  height: 750px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 90px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding-top: 80px;
}

.logo .logo-imagem {
  width: 50px;
}

.logo .nome-hotel {
  font-family: var(--font2);
  color: #F1ECFF;
  font-size: 1.3em;
  text-shadow:  1px 4px 15px #000000;
}

.opcoes {
  background-color: #F1ECFF;
  display: flex;
  justify-content: right;
  align-items: center;
  position: fixed;
  top: -1px;
  width: 100vw;
  z-index: 1;
}

.opcoes .navegacao {
  display: flex;
  
}

.navegacao a {
  color: rgba(0,0,0);
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  padding: 30px 20px 30px 20px;
  text-shadow:  1px 1px 30px #000000;
}

.navegacao a:hover {
  background-color: grey;
  color: white;
}

.titulo-principal {
  text-align: center;
  margin-top: 30px;
  padding: 70px 100px;
}

.titulo-principal .nome {
  color: #F1ECFF;
  font-family: var(--font2);
  font-size: 6em;
  text-shadow:  1px 4px 15px #000000;
}

.titulo-principal .frase-efeito {
  color: #F1ECFF;
  font-family: var(--font2);
  font-size: 2.5em;
  text-shadow:  1px 4px 10px #000000;
}

.escolha-reserva {
  text-align: center;
  margin-top: 10px;
  padding: 40px 40px 0px 40px;
}

.escolha-reserva .reserva {
  background-color: #F1ECFF;
  padding: 15px;
  width: 220px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.escolha-reserva .reserva.data {
  font-size: 1.3em;
}

.escolha-reserva .reserva.selecionar-reserva {
  background-color: #ffa000c1;
  border-radius: 30px;
  border: none;
  font-size: 1.3em;
  padding: 18px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.escolha-reserva .reserva.selecionar-reserva:hover {
  background-color: rgba(238,207,0,5);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.corpo {
  background-color: #F1ECFF;
  padding: 50px;
  margin-top: 60px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 90px;
}

.corpo .informacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 600px;
}

.informacao .sobre {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 500px;
  justify-content: center;
  gap: 30px;
}

.sobre .titulo-informacao {
  color: var(--cor4);
  font-family: var(--font3);
  font-size: 2em;
  text-indent: 20px;
  padding: 5px;
}

.sobre .descricao {
  font-size: 1.2em;
  text-indent: 20px;
  padding: 10px;
}

.sobre .sobre-caminho {
  font-family: var(--font3);
  color: var(--cor4);
  font-size: 2em;
  cursor: pointer;
}

.sobre .sobre-caminho:hover {
  text-decoration: underline;
  color: var(--cor4);
}

.sobre .sobre-caminho::after {
  content: '\00a0\00a0\00a0 →';
}

.informacao .informacao-imagem {
  width: 470px;
  height: 500px;
}

.rodape {
  background-color: var(--cor2);
  position: relative;
  padding: 124px 0;
  margin-top: 70px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 90px;
}

.sobre-nos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0 100px;
}

.sobre-nos .titulo-sobre-nos {
  font-family: var(--font2);
  text-align: center;
  position: absolute;
  top: 5px;
  left: 36.8%;
  width: 250px;
  height: 70px;
  font-size: 2.5em;
}

.sobre-nos .locacoes, .contatos, .atendimento {
  text-align: center;
  line-height: 1.8em;
}

.sobre-nos .indicadores {
  color: #0a5466;
  font-size: 2em;
  font-family: var(--font2);
  font-weight: bolder;
  margin-bottom: 10px;
}

.descricoes {
  color: #000000a7;
  font-size: 1.02em;
}

.sobre-nos .termos-uso {
  position: absolute;
  bottom: 20px;
  left: 23%;
  text-align: center;
  line-height: 1.5em;
}