@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

html body {
  height: 90vh;
  width: 100vw;
  background-color: black;
}

body {
  background: url('../imagens/fundo-madeira.jpg')
  no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  position: relative;
  height: 100vh;
}

section#telefone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  height: 627px;
  width: 311px;
  background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
  position: relative;
  top: 81.1px;
  left: 23.5px;
  width: 265px;
  height: 470px;
  border-radius: 3px;
}

section#redes-sociais {
  margin-top: 5em;
  padding-right: 4%;
  text-align: right;
}

section a img {
  width: 9%;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.400);
}

section#redes-sociais img:hover {
  border: 2px solid rgba(255, 255, 255, 400);
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.600);
  transition: border 0.5s, transform 0.3s, box-shadow 0.3s;
}